.action{
    padding: 0px 25px 20px;
    button{
        flex: 1;
    }
}

.Cphoto{
    flex: 1;
    width: 73%;
}

mat-form-field {
    mat-error {
        display: none !important;
    }

    mat-error:first-child {
        display: block !important;
    }
}