<button mat-icon-button style="float: right; margin: 5px" matDialogClose>
  <mat-icon>close</mat-icon>
</button>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <header>
      <h1>Add Author</h1>
    </header>

    <p>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter Author First Name"
          formControlName="firstName"
          required
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter Author Last Name"
          formControlName="lastName"
          required
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter Author's date of birth"
          formControlName="dob"
          type="date"
        />
        <mat-icon matSuffix>cake</mat-icon>
      </mat-form-field>
    </p>

    <div (click)="photo.click()">
      <p>
        <button mat-raised-button type="button" color="primary" class="Cphoto">
          Choose Photo
        </button>
        <input
          name="photo"
          #photo
          (change)="upload($event)"
          type="file"
          style="display: none"
          accept="image/*"
        />
        <mat-icon matSuffix>photo</mat-icon>
      </p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="action">
    <button mat-raised-button color="primary" type="submit">
      {{ data ? "Update" : "Save" }}
    </button>
    <button mat-raised-button color="danger" matDialogClose>Cancel</button>
  </mat-dialog-actions>
  <!-- <img className="align-self-center" width= '100%' src="{{ImageUrl}}" /> -->
</form>
