<section class="books pt-5">
  <h1>Books</h1>
  <div class="hr"></div>
  <div class="container">
    <mat-paginator [length]="100" [pageSize]="pageSize" (page)="handlePageEvent($event)" aria-label="Select page">
    </mat-paginator>

    <div class="wrapper" *ngFor="let item of books">
      <div class="row">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{item.photo}}" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">{{item.name}}</h2>
          <h4 class="card-text"> <strong>Author Name</strong> 
             : {{item.AuthorId.firstName}}</h4>
          <a  id="showBook" class="btn">Show Book</a>
        </div>
      </div>
    </div>
        <!-- <mat-card-actions>
          <button id="showBook" mat-button>Show Book</button>
        </mat-card-actions> -->
    </div>
  </div>
</section>
