* {
  box-sizing: border-box;
  justify-content: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: white;
}

.hr {
  border-bottom: 5px solid pink;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#showBooks {
  background-color: rgb(211, 156, 165);
  color: white;
  margin-right: auto;
  margin-left: auto;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 30px;
  font-size: medium;
  border-radius: 5px;
}


.wrapper {
  display: inline-block;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;

}

mat-paginator {
  background-color: #aa9496;

}


.categories {
  // background-color: #aa9496;
  background: linear-gradient(rgba(147, 127, 129, .5), rgba(147, 127, 129, .8)), url(https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.example-card {
  width: 300px;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 10px;
}