<div class="container mt-2 p-2">
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
      <div class="card border-0 mat-elevation-z8">
        <img
          src="https://www.bootdey.com/img/Content/avatar/avatar6.png"
          alt="..."
        />
        <div class="card-body p-1-9 p-xl-5">
          <div class="mb-4">
            <h3 class="h4 mb-0">Dakota Johnston</h3>
            <span class="text-primary">CEO &amp; Founder</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8 mat-elevation-z8 p-4">
      <!--   <div class="text-start mb-1-6 wow fadeIn">
        <h2 class="h1 mb-0 text-primary">#About Me</h2>

      </div> -->
      <app-author-books></app-author-books>
    </div>
  </div>
</div>
