* {
    box-sizing: border-box;
}


header {

    background: linear-gradient(rgba(147, 127, 129, .5), rgba(147, 127, 129, .8)), url(https://images.pexels.com/photos/904616/pexels-photo-904616.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;

    .header {
        color: white;
        opacity: 1;
        text-align: center;
        padding-top: 280px;
        line-height: 2px;

        h2 {
            font-size: 40px;
        }

        p {
            padding-top: 40px;
            font-size: 30px;
        }

        span {
            color: pink;
        }
    }


}

.body {

    padding-bottom: 100rem;
    background-color: white;
    height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    img {
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        padding-top: 5rem;
        text-align: center;
        font-size: 35px;

    }

    .hr {
        border-bottom: 5px solid pink;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .about {
        width: 100%;
        line-height: 40px;
        margin-left: auto;
        margin-right: auto;

        img {
            width: 570px;
            height: 235px;
            margin-left: auto;
            margin-right: auto;
        }

        padding-top: 5rem;
        display: flex;

        p {
            font-size: larger;
            padding-top: 40px;
            height: 140px;
            width: 570px;
            color: gray;
            margin-left: auto;
            margin-right: auto;
        }

    }

    #us {
        margin-left: auto;
        margin-right: auto;
    }

    .cates {
        padding-top: 90px;

        .cate {
            margin-left: auto;
            margin-right: auto;
            color: white;
            height: 70vh;
            background: linear-gradient(rgba(147, 127, 129, .8), rgba(147, 127, 129, .3)), url(https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            h3 {
                margin-left: auto;
                margin-right: auto;
                padding-top: 50px;
            }

            .list {

                width: 100%;
                margin-left: auto;
                margin-right: auto;

                h2 {
                    font-size: 50px;
                    padding-top: 100px;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                }

                button {
                    padding-top: 100px;
                    margin-left: auto;
                    margin-right: auto;
                }


            }
        }
    }

}

.pBooks {
    height: 100vh;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 100%;
    float: right;

    .books {
        h3 {
            margin-left: auto;
            margin-right: auto;
        }

    }

    .row {
        padding-top: 50px;
        margin-right: auto;
        margin-left: auto;

    }

    .card {
        width: 300px;
        margin-right: auto;
        margin-left: auto;

        img {
            height: 200px;
        }

        .btn {
            background-color: #937f81;
            color: white;
        }

        p {
            line-height: 30px;
        }
    }
}



@media (min-width: 270px) and (max-width:500px) {

    .cates {
        padding-top: 280px !important;

        .cate {
            margin-left: auto;
            margin-right: auto;

            h3 {
                font-size: 25px;
                margin-left: auto;
                margin-right: auto;
            }

            .list {

                width: 50%;
                margin-left: auto;
                margin-right: auto;

                h2 {
                    font-size: 25px !important;
                    padding-top: 70px;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                }


            }
        }
    }

    #us {
        margin-left: auto;
        margin-right: auto;
    }

    header {
        width: 100% !important;
        margin-left: auto;
        margin-right: auto;

        .header {
            color: white;
            opacity: 1;
            text-align: center;
            padding-top: 150px;
            line-height: 2px;
            margin-left: auto;
            margin-right: auto;

            h2 {
                font-size: 20px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }

            p {
                padding-top: 20px;
                font-size: 20px;
            }
        }


    }

    .about {
        img {
            width: 230px !important;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0px;

        }

        p {
            width: 230px !important;
            margin-left: auto;
            margin-right: auto;

        }

    }

    .pBooks {
        height: 100vh;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;

        .books {
            h3 {
                margin-left: auto;
                margin-right: auto;
                font-size: 20px;
            }

        }

        .row {
            padding-top: 50px;
            margin-right: auto;
            margin-left: auto;
            gap: 10px;
        }

        .card {
            width: 260px;
            margin-right: auto;
            margin-left: auto;

            img {
                height: 200px;
            }

            .btn {
                background-color: #937f81;
                color: white;
            }

            p {
                line-height: 20px;
            }
        }
    }
}


@media (min-width: 501px) and (max-width:800px) {

    .cates {
        padding-top: 100px !important;

        .cate {
            margin-left: auto;
            margin-right: auto;

            h3 {
                font-size: 25px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    header {


        .header {
            color: white;
            opacity: 1;
            text-align: center;
            padding-top: 150px;
            line-height: 2px;
            margin-left: auto;
            margin-right: auto;

            h2 {
                font-size: 20px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }

            p {
                padding-top: 20px;
                font-size: 20px;
            }
        }


    }

    .about {
        img {
            width: 440px !important;
            margin-left: auto;
            margin-right: auto;

        }

        p {
            width: 440px !important;

        }

    }

    .pBooks {
        height: 100vh;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;

        .row {
            padding-top: 50px;
            margin-right: auto;
            margin-left: auto;
            gap: 10px;

        }
    }
}