<app-main-navbar></app-main-navbar>
<div class="body">
  <header>
    <div class="header">
      <h2>"Small cheer and great <span>Welcome</span> makes a merry feast"</h2>
      <p>William Shakespeare</p>
    </div>
  </header>

  <main>
    <h3>About Us</h3>
    <div class="hr"></div>
    <section class="about">
      <div class="row" id="us">
        <div
          class="col-lg-6 col-md-6 col-sm-12 text-center justify-content-center align-items-center"
        >
          <img
            src="https://images.unsplash.com/photo-1474366521946-c3d4b507abf2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHJlYWRpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
            alt="aboutUs"
          />
        </div>

        <div
          class="col-lg-6 col-md-6 col-sm-12 text-center justify-content-center align-items-center"
        >
          <p>
            “I pronounce after all there is no pleasure like perusing!” -
            <i>Jane Austen, Pride and Prejudice.</i><br />
            Dear readers, We offer a tremendous gathering of books in the
            various classifications of Fiction, Non-fiction, Biographies,
            History, Religions,etc
          </p>
        </div>
      </div>
    </section>
    <section class="cates">
      <div class="cate">
        <h3>Popular Categories</h3>
        <div class="hr"></div>
        <div class="list">
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h2>Horror</h2>
              </div>
              <div class="carousel-item">
                <h2>Romance</h2>
              </div>
              <div class="carousel-item">
                <h2>Adventure</h2>
              </div>

              <div class="carousel-item">
                <h2>History</h2>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="pBooks">
      <div class="books">
        <h3>Popular Books</h3>
        <div class="hr"></div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="card">
            <img
              src="../../assets/9369720.jpg"
              class="card-img-top"
              alt="Passion Novel"
            />
            <div class="card-body">
              <p><strong>Type :</strong> Romance</p>
              <p class="card-text">
                Luce is certain that something—or someone—in a past life can
                help her in her present one. So she begins the most important
                journey of this lifetime…
              </p>
              <a href="#" class="btn">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="card">
            <img
              src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1635860014l/59089704.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p><strong>Type :</strong>Fiction</p>
              <p class="card-text">
                What if you could take a vacation to your past?
                With her celebrated humor, insight, and heart, beloved New York
                Times bestseller Emma Straub story.
              </p>
              <a href="#" class="btn">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="card">
            <img
              src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1619545174i/57099323.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p><strong>Type :</strong>History</p>
              <p class="card-text">
                Fiona Davis, New York Times bestselling author returns with a
                novel about the secrets, betrayal, and murder within one of New
                York City’s.
              </p>
              <a href="#" class="btn">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="card">
            <img
              src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1635260162i/58724923.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p><strong>Type :</strong>Horror</p>
              <p class="card-text">
                A mystery about a woman working as a nanny for a young boy with
                strange and disturbing secrets. Mallory Quinn takes a job in the
                affluent suburb of Spring Brook
              </p>
              <a href="#" class="btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>

<!-- <app-carousel [images]="images" [autoSlide]="true"></app-carousel> -->

<app-main-footer></app-main-footer>
