a {
    float: right;
    padding: 20px;
    padding-right: 40px;
    margin-right: 3%;
    padding-left: 40px;
}

mat-table {
    margin-left: 10px;
    padding: 5px 10px;
}

mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
}

.search-div {
    margin: 10px;
}

.search-form-field {
    width: 50%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.search-form-field div.mat-form-field-underline {
    display: none;
}

.search-form-field div.mat-form-field-infix {
    border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
    padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button {
    height: 32px;
    width: 32px;
}


.paginator {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
}

.paginator button,
.paginator div {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
    cursor: pointer;
}

.paginator button[disabled],
.paginator div.active {
    background-color: #ccc;
    cursor: default;
}

.paginator span {
    margin: 0 10px;
}