<div class="container-fluid mt-3 text-center">
  <div
    class="text-light text-center p-2"
    [ngStyle]="{
      backgroundColor: '#A37A7A'
    }"
  >
    <h1 class="mat-headline-3 mb-1">Books</h1>
  </div>

  <mat-toolbar class="p-2">
    <mat-toolbar-row>
      <div class="paginator p-2 mb-3">
        <button
          mat-raised-button
          color="warn"
          [disabled]="currentPageIndex == 1"
          (click)="onPreviousPage()"
        >
          Previous
        </button>
        <span>{{ currentPageIndex }}/{{ totalPages || 1 }}</span>
        <button
          mat-raised-button
          color="warn"
          [disabled]="currentPageIndex == totalPages"
          (click)="onNextPage()"
        >
          Next
        </button>
      </div>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <div class="p-2" style="margin-left: 30px">
        <button
          class="p-2 m-1"
          mat-fab
          color="primary"
          (click)="openDialogform()"
          [ngStyle]="{
            backgroundColor: '#A37A7A'
          }"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="container-fluid mat-elevation-z8">
  <ng-template #table>
    <table mat-table [dataSource]="dataSource" matSort class="text-center">
      <ng-container matColumnDef="counter">
        <th mat-header-cell *matHeaderCellDef class="text-center">No.</th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          class="text-center"
        >
          {{ i + 1 + (currentPageIndex - 1) * 5 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="bookName">
        <th mat-header-cell *matHeaderCellDef class="text-center">book name</th>
        <td mat-cell *matCellDef="let row" class="text-center">
          {{ row.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="categoryId">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          categoryId
        </th>
        <td mat-cell *matCellDef="let row" class="text-center">
          {{ row.categoryId.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="authorId">
        <th mat-header-cell *matHeaderCellDef class="text-center">authorId</th>
        <td mat-cell *matCellDef="let row" class="text-center">
          {{ row.AuthorId.firstName + " " + row.AuthorId.lastName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef class="text-center">photo</th>
        <td *matCellDef="let row">
          <span
            mat-button
            (click)="openPopup(row.photo)"
            style="cursor: pointer"
            ><mat-icon>burst_mode</mat-icon></span
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <button mat-icon-button (click)="openEditForm(row)">
            <mat-icon>create</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteBook(row._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Row shown when there is no matching data. -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-template>

  <div class="spinner-container" *ngIf="loading; else table">
    <mat-spinner class="center" color="warn"></mat-spinner>
  </div>
</div>
