<nav class="navbar navbar-expand-lg navbar-dark ">


    <div class="container-xl">
        <!-- Logo -->

        <a class="navbar-brand">
            Endless Books
        </a>



        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="#navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Nav -->
            <div class="navbar-nav mx-lg-auto ">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'/endless_books/home'" [routerLinkActive]="['active']">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " [routerLink]="'/endless_books/about'" [routerLinkActive]="['active']">About Us</a>
                    </li>

                    <li class="nav-item">

                        <a class="nav-link" [routerLink]="'/endless_books/category'" [routerLinkActive]="['active']">Categories</a>
                    </li>

                    <li class="nav-item">

                        <a class="nav-link" [routerLink]="'/endless_books/book'" [routerLinkActive]="['active']">Books</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" [routerLink]="'/endless_books/author'" [routerLinkActive]="['active']">Authors</a>
                    </li>
                </ul>
            </div>


            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>



            <div class="navbar-nav mx-lg-auto ">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li
                    class="nav-item">
                    <a class="nav-link"
                    [routerLink]="'/endless_books/register'"
                        [routerLinkActive]="['active']">SignUp</a>
                </li>
                <li
                class="nav-item">

                <a class="nav-link"
                [routerLink]="'/endless_books/login'"
                    [routerLinkActive]="['active']">Log In</a>
            </li>
                </ul>
            </div>
        </div>

    </div>
</nav>