$bgcolo: #937f81;

* {
    box-sizing: border-box;
}

footer {
    margin-bottom: 0px;
    // position: static;
    // background: url(https://www.frontlist.in/storage/post/1653642722_photo-1630343710506-89f8b9f21d31.jpg);
    background: linear-gradient(rgba(147, 127, 129, .8), rgba(147, 127, 129, .3)), url(https://www.frontlist.in/storage/post/1653642722_photo-1630343710506-89f8b9f21d31.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#quote {
    font-size: 20px;
}

.location {
    height: 80%;
}