*{
  font-family: 'DynaPuff', cursive;

    box-sizing: border-box;
}

.login{
  padding-top: 5%;
  padding-bottom: 10%;
}

#container{
    box-shadow: 4px 4px 4px 4px #937f81;}
img{
    height: 100%;
    width: 100%;
}
a{
  padding-top: 2%;
  color: #937f81;
}
h4{
  color: #937f81;
  font-size: 50px;
  text-align: center;
  font-family: 'DynaPuff', cursive;

}
label{
  color: #937f81;
  font-weight: bold;
  font-size: large;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    float: right;
    margin-top: -30px;
  }
input[type="password"]:focus {
    outline: none;
  }
  
  input[type="password"] + #pass::after {
    content: url(../../../../assets/sleep.png);
    margin-left: 5px;
  }
  
  input[type=text] + #pass::after {
    content:url(../../../../assets/eye-care.png);
    margin-left: 5px;
  }
  input[type=submit]{
    background-color: rgb(214, 112, 146);
    cursor: pointer;
  }



  @media (min-width: 501px) and (max-width:950px) {

    h4{
      color: #937f81;
      font-size: 20px;
      text-align: center;
      font-family: 'DynaPuff', cursive;
    
    }
    img{
      height: 116%;
    }
    #container{
      padding-bottom: 10%;
    }
    } 
    
    @media (min-width: 270px) and (max-width:500px) {
      #container{
        padding-bottom: 20%;
      }
      h4{
        color: #937f81;
        font-size: 20px;
        text-align: center;
        font-family: 'DynaPuff', cursive;
      
      }
    }