<app-main-navbar></app-main-navbar>
<div class="w-75 m-auto py-5">
  <div class="p-5 mat-elevation-z8">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="../../../../assets/login-photo.jpg"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
    </div>

    <!--     
     -->
    <form [formGroup]="loginForm" (ngSubmit)="submintloginForm(loginForm)">
      <div class="form-group">
        <label for="email" class="w-100 mb-2">Email:</label>
        <mat-form-field appearance="outline" class="w-100 mt-2">
          <mat-label>Enter your email</mat-label>
          <input
            id="email"
            matInput
            placeholder="pat@example.com"
            formControlName="email"
          />

          <mat-error *ngIf="loginForm.get('email')?.errors?.['email']"
            >must be email</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="Password" class="w-100 mb-3">Password:</label>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter your password</mat-label>
          <input
            id="Password"
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="d-flex justify-content-between">
        <div class="p-2">
          <a class="text-primary-50 h6" href="#!">Forgot password?</a>
        </div>
        <div class="p-2"></div>

        <div class="p-2">
          <a class="text-primary-50 h6" routerLink="/auth/register"> SignUp?</a>
        </div>
      </div>

      <div class="d-flex flex-column mt-2">
        <button
          type="submit"
          class="btn btn-info btn-lg btn-block text-white"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>

<app-main-footer></app-main-footer>