<div mat-dialog-title [ngStyle]="{ 'backgroundColor': '#3f51b5','color' : '#fff'
    }"
    class="text-center mb-3">
    <h1>{{data ?
        'Update': 'Add New'}} Category</h1>

</div>
<form [formGroup]="categoryForm" (ngSubmit)="onFormSubmit(categoryForm)">

    <div mat-dialog-content class="content ">
        <div class="container-fluid d-flex flex-column justify-content-center">
            <mat-form-field appearance="outline" class="mb-3">
                <mat-label>Category name</mat-label>
                <input matInput formControlName="categoryName">
                <mat-error
                    *ngIf="categoryForm.get('categoryName')?.hasError('required')">
                    category is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <div mat-dialog-actions class="action">
                <button mat-raised-button type="button"
                    [mat-dialog-close]="false">Close</button>
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="categoryForm.invalid">{{data ?
                    'Update': 'Save'}}</button>
            </div>
        </div>
    </div>


</form>