<!-- Footer -->

<footer class="text-center text-white">
    <!-- Grid container -->
<section class="foot">
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <section class="mb-4">
        <p id="quote">
          “The more that you read, the more things you will know. <br><br>
          The more that you learn, the more places you’ll go.”
        </p>
      </section>
      <section class="Links p-2" >
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0" >
            <div class="location">
              <h4 class="text-uppercase">Location</h4>
              <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=october egypt&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2yu.co">2yu</a><br><style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}</style><a href="https://embedgooglemap.2yu.co/">html embed google map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style></div></div>    
                  </div>
        </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0" id="bookLink" >
            <h4 class="text-uppercase">Links</h4>
  
            <ul class="list-unstyled mb-0">
                <li class="p-2">
                    <a [routerLink]="'/user'" class="text-white">Home</a>
                  </li>
              <li class="p-2">
                <a  [routerLink]="'/user/categories'"
                [routerLinkActive]="['active']" class="text-white">Categories</a>
              </li>
              <li class="p-2">
                <a [routerLink]="'/user/books'"
                [routerLinkActive]="['active']" class="text-white">Books</a>
              </li>
              <li class="p-2">
                <a [routerLink]="'/user/authors'"
                [routerLinkActive]="['active']" class="text-white">Authors</a>
              </li>
            </ul>
          </div>

     
          
        </div>
        
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" [routerLink]="'/'"
      [routerLinkActive]="['active']">Endless Books</a>
    </div>
    <!-- Copyright -->
  </section>

  </footer>
  <!-- Footer -->