.example-container {
    width: 99%;
    height: 80%;
    margin: 5px;
}

.slidebar{
    width: 15%;
    height: 100%;
    float: left;
    background-color: #f1f1f1;
    padding: 20px;
}

mat-nav-list > a {
    margin-top: 15px;
}