<mat-drawer-container class="example-container">
    <mat-drawer class="slidebar gradient-custom" mode="side" opened>
        <mat-nav-list>
            <!-- <a mat-list-item routerLink="/user" routerLinkActive="active">All</a>
            <a mat-list-item routerLink="/user/read" routerLinkActive="active">Read</a>
            <a mat-list-item routerLink="/user/readig" routerLinkActive="active">Current Reading</a>
            <a mat-list-item routerLink="/user/want" routerLinkActive="active">Want To Read</a> -->
            <a mat-list-item  (click)="showAll()"  [routerLinkActive]="['active']">All</a>
            <a mat-list-item (click)="showRead()"  [routerLinkActive]="['active']">Read</a>
            <a mat-list-item (click)="showCurrent()"  [routerLinkActive]="['active']">Current Reading</a>
            <a mat-list-item (click)="showWant()"  [routerLinkActive]="['active']">Want To Read</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="content" style="overflow-x: auto; width: 85%;">
        <div class="container mt-2">
            <div class="mat-elevation-z8">
                <fieldset class="field">
                    <legend class="legend ms-4 mt-2">{{ selectedOption }}</legend>
                    <table mat-table [dataSource]="dataSource" matSort class="text-center">
                        <ng-container matColumnDef="photo">
                            <th mat-header-cell *matHeaderCellDef class="text-center">Cover</th>
                            <td mat-cell *matCellDef="let row" class="text-center">

                                <span mat-button (click)="openPopup(row.bookId.photo)"
                                    style="cursor: pointer"><mat-icon>burst_mode</mat-icon></span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="text-center">Name</th>
                            <td mat-cell *matCellDef="let row" class="text-center">
                                {{ row.bookId.name }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="author">
                            <th mat-header-cell *matHeaderCellDef class="text-center">
                                Author
                            </th>
                            <td mat-cell *matCellDef="let row" class="text-center">
                                {{ row.bookId.AuthorId.firstName }} {{ row.bookId.AuthorId.lastName }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="avgRate">
                            <th mat-header-cell *matHeaderCellDef class="text-center">Avg Rate</th>
                            <td mat-cell *matCellDef="let row" class="text-center">
                                <i [attr.data-star]="row.bookId.rating"></i>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="rating">
                            <th mat-header-cell *matHeaderCellDef class="text-center">Rating</th>
                            <td *matCellDef="let row">
                                <span *ngFor="let star of row.stars" (mouseover)="onStarHover(row, star)"
                                    (mouseout)="onStarLeave(row, star)" (click)="onStarClick(row, star)">
                                    <i class="fa" [ngClass]="{'star-hover': star.hover}">
                                        {{ star.filled ? '★' : '☆' }}
                                    </i>
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="shelve">
                            <th mat-header-cell *matHeaderCellDef style="width: 20%;" class="text-center">Shelve</th>
                            <td *matCellDef="let row">
                                <div class="form-group">
                                    <select class="form-control text-center" [(ngModel)]="row.shelve" (change)="updateShelve(row.bookId, row.shelve)">
                                        <option value="" disabled>--Please choose an option--</option>
                                        <option value="read" [selected]="row.shelve.toLowerCase().trim() === 'read'">Read</option>
                                        <option value="current read" [selected]="row.shelve.toLowerCase().trim() === 'current read'">Current reading
                                        </option>
                                        <option value="want to read" [selected]="row.shelve.toLowerCase().trim() === 'want to read'">Want to
                                            read</option>
                                    </select>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Row shown when there is no matching data. -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <div class="paginator p-2 mb-3">
                        <button
                          mat-raised-button
                          color="warn"
                          [disabled]="currentPageIndex == 1"
                          (click)="onPreviousPage()"
                        >
                          Previous
                        </button>
                        <span>{{ currentPageIndex }}/{{ totalPages || 1 }}</span>
                        <button
                          mat-raised-button
                          color="warn"
                          [disabled]="currentPageIndex == totalPages"
                          (click)="onNextPage()"
                        >
                          Next
                        </button>
                      </div>
                </fieldset>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>