

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">


    <div class="container-xl">
        <!-- Logo -->

        <a class="navbar-brand" routerLink="todos">
            <!--            <img src="../../assets/906334.png" alt="Logo" width="50"
                height="50" class="d-inline-block align-text-center"> -->
            Good Reads
        </a>
        <!-- Navbar toggle -->



        <button class="navbar-toggler collapsed" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="#navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Nav -->
            <div class="navbar-nav mx-lg-auto ">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li
                        class="nav-item">
                        <a class="nav-link active"> <i class="fa-regular
                                fa-clock me-1"></i>Pendding</a>
                    </li>

                    <li
                        class="nav-item">
                        <a class="nav-link " routerLink="favourite-todos"><i
                                class="fa-regular
                                fa-star me-1"></i>Favourite
                            Tasks</a>
                    </li>

                    <li
                        class="nav-item">
                        <a class="nav-link " routerLink="completed-todos"><i
                                class="fa
                                fa-check me-1 "></i>Completed
                            Tasks</a>
                    </li>

                    <li
                        class="nav-item">

                        <a class="nav-link " routerLink="deleted-todos"><span
                                class="me-1">
                            </span><i
                                class="far
                                fa-trash-alt me-1"></i>Deleted
                            Tasks</a>
                    </li>


                </ul>
            </div>


            <form class="d-flex">
                <input class="form-control me-2" type="search"
                    placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

    </div>
</nav>