.example-spacer {
  flex: 1 1 auto;
}

.ac td {
  text-align: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  /* set the container's height to the full viewport height */
}

.mat-spinner {
  position: absolute;
}

.mat-spinner {
  position: absolute;
  color: red;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
}

.paginator button,
.paginator div {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  cursor: pointer;
}

.paginator button[disabled],
.paginator div.active {
  background-color: #ccc;
  cursor: default;
}

.paginator span {
  margin: 0 10px;
}