/* You can add global styles to this file, and also import other style files */

/*  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Open+Sans:ital,wght@1,700;1,800&display=swap');
  */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

<<<<<<< HEAD
  html,
body {
  height: 100%;
}  
=======
 html,
body {
  height: 100%;
} 
>>>>>>> 37d9910674a71339e3d63b2facfd86524f453e8c

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ngx-toastr {
  width: 300px !important; // Specify toastr-dialog width for all devices

}