$bgcolo: #937f81;
* {
    color: black;
}



nav{
    background-color: $bgcolo;
}

ul {
    li{
        a{
            color: white;
        }
        // a :hover {
        //     color: coral;
        // }
        span{
            i{
                color: white;
            }
        }
    }
}