$bgcolo: #937f81;
* {
    color: black;
}



nav{
    background-color: $bgcolo;
}

ul {
    li{
        a{
            color: white;
        }
        *:hover {
            color: coral !important;
        }
        span{
            i{
                color: white;
            }
        }
    }
}